
<div class="container" style="width: auto;margin:5em;">


    <div class="col-4"></div>
    <div class="col-4">
   <div *ngFor="let time of times" class="row">
   <div class="col">
   <p> <strong> {{time.containers}} containers</strong></p> 
   </div>
   <div class="col">
       <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: {{time.exectime}}%" aria-valuenow="{{time.exectime}}" aria-valuemin="0" aria-valuemax="20">{{time.exectime}} Sec</div>
      </div>
   </div>

   </div>

</div>

<div class="col-4"></div>
  

<div class="row">
  <div class=col-md-2>

  </div>
  
 
<google-chart style="width: 500px"
[type]="chartData.type" 
[data]="chartData.data" 
[columns]="chartData.columnNames" 
[options]="chartData.options" 
[width]="chartData.width"
[height]="chartData.height">
  
</google-chart>

<div class=col-md-2>
    
  </div>
</div>


  </div>
 