<div class="main-content">
    <div class="container-fluid">
       
       <div class="row">
          <div class="col-md-4">
                <div style = "width: 400px; height: 200px; " >
                    <canvas baseChart 
                           [data]="pieChartData" 
   
                             [labels]="pieChartLabels" 
                              [chartType]="pieChartType"
                             [options]="pieChartOptions"
                              [plugins]="pieChartPlugins"
                            [legend]="pieChartLegend">
                      </canvas>
                </div>
            </div>
            <div class="col-md-4" style="margin-top: 50px; margin-left:5em;">
            
                <div style = "width: 250px; height: 250px;" >
                  <google-chart 
            #googlechart
            [title]="chart3.title"
            [type]="chart3.type"
            [data]="chart3.data"
            [options]="chart3.options">
            </google-chart>
              
            </div>
           

            </div>
            <div class="col-md-3" style="margin-top: 50px;">
            
              <div style = "width: 250px; height: 250px;" >
                <google-chart 
          #googlechart
          [title]="chart4.title"
          
          [type]="chart4.type"
          [data]="chart4.data"
          [options]="chart4.options">
          </google-chart>
            
          </div>
         

          </div>
      

   
    </div>

          
       <div class="row">
        
           <div class="col-md-3">
            <div style = "width: 400px; height: 400px;" >
                           
              <google-chart 
              #googlechart
              [title]="chart1.title"
              [type]="chart1.type"
              [data]="chart1.data"
             
              [options]="chart1.options">
            </google-chart>
                                        </div>
                                      
           </div>
           <div class="col-md-2">
            <div style = "width: 400px; height: 400px;" >
           <google-chart 
           #googlechart
           [title]="chart2.title"
           [type]="chart2.type"
           [data]="chart2.data"
           [options]="chart2.options">
           </google-chart>

              </div>
              </div>
              <div class="col-md-6" *ngIf="data3.length===data1.length" >
              
                <div style = "width: 290px; height: 190px;" >
        
                  <google-chart #chart
                  [title]="title3"
                  [type]="type3"
                  [columns]="columnNames3"
                  [data]="data3"
                 
                  [options]="options3"
                  [width]="width3"
                  [height]="height3">
               </google-chart>
        
                    </div>
                </div>
        </div>

   
        

    <div class="row">
      
           <div class="col-md-3"  *ngIf="data3.length===data1.length">
          <div>
           
            <google-chart #chart
          [title]="title1"
          [type]="type1"
          [data]="data1"
          [columns]="columnNames1"
          [options]="options1"
          [width]="width1"
          [height]="height1">
       </google-chart>
           
        </div>
     </div> 
     <div class="col-md-3"> </div>

     <div class="col-md-3"  *ngIf="total_resources.length===data1.length" >
      <div>
       
        <google-chart #chart
      [title]="title2"
      [type]="type2"
      [data]="total_resources"
      [columns]="columnNames2"
      [options]="options2"
      [width]="width2"
      [height]="height2">
   </google-chart>
       
    </div>
 </div> 


    </div>    
        
    </div>
    
</div>

