<div class="main-content">
    <div class="container-fluid">
       <div class="row">
          <div class="col-md-6">
                <div style = "width: 500px; height: 700px;" >
                 <canvas mdbChart  id = "myChart" > </canvas>
                  <canvas  mdbChart  id = "myChart2" > </canvas>
                  <canvas  mdbChart id = "myChart5" > </canvas>
                  <canvas  mdbChart id = "myChart7" > </canvas>
              </div>
          </div>

          <div class="col-md-6">
                <div style = "width: 500px; height: 700px;" >
                  <canvas mdbChart   id = "myChart3" > </canvas>
                  <canvas  mdbChart  id = "myChart4" > </canvas>
                  <canvas  mdbChart  id = "myChart6" > </canvas>
                  <canvas  mdbChart  id = "myChart8" > </canvas>
               
              </div>
           </div>
        </div>
        <br>
        <br>
        <br>
         <br>
        <br>
         
        <br>
         <br>
        <br>
        <br>
        <br>
        <br>
         <br>
        <br>
         <br>
        <br>
        <br>
        <br>
        <div class="row">

            <canvas mdbChart   id = "myChart9" > </canvas>
        </div>
        <br>
        <br>
        <div class="row">

            <canvas mdbChart   id = "myChart10" > </canvas>
        </div>
        
    </div>
    
</div>
